<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyPD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <style>
    body{
    min-width: 320px !important;
    }
    .container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    }
    #outlook a{padding:0;}
    body{width:100% !important; background-color:#41849a;-webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;margin:0 !important; padding:0 !important;
    }
    
    p {
    word-break: break-all;
    }
    .main-width{
    width: 100%;
    }
    @media (max-width: 640px) {
    .container {width:100% !important; padding: 0 0;}
    .white-box {padding: 20px !important;}
    .main-width{
    width:100%;
    }
    .m-align-center{
    text-align: center !important;
    }
    .m-align-center td{
    float: none !important;
    margin: 0 auto !important;
    max-width: 92px !important;
    width: 100%;
    display: inline-block !important;
    }
    .scl-align-center td{
    float: none !important;  margin: 0 auto !important;
    max-width: 55px !important;
    width: 100%;
    display: inline-block !important;
    }
    .align-item {
    display: block !important;
    width: 85% !important;
    margin: 10px auto !important;
    text-align: center !important;
    float: none !important;
}
    }
    </style>
  </head>
  <body style="background:#f7f7f7; margin:0;">
    <div class="container" style="margin: 0 auto; max-width: 700px; width: 100%;">
      <table class="main-width" style="margin:auto; border-spacing: 0; background: #303641;">
        <!--logo-space-->
        <tr style="text-align:center; margin: 30px auto; text-align: center;  width: 100%;">
          <td style="text-align: center; padding: 20px 0 10px;">
            <a href="#" style="display: inline-block;"><img src="<%=logopath%>" alt="Logo" style="width:70px; max-width:100%;"/></a>
          </td>
        </tr>
        <tr>
          <td>
            <table style=" width:85%; margin: 0px auto 0px;">
              <!--text-content-->
              <tbody>
                <tr class="" style=" width:100%;  background:#fff;">
                  
                  <td class="white-box" style="padding:50px 50px 25px; border-radius:3px; border-bottom: 1px solid #dedede;">
                    <strong style="font:16px/27px 'Roboto', sans-serif; color:#222; width:100%; display: inline-block; font-weight: 600;">Hello <%=name%></strong>
                  <!--   <p style="color:#555; font:14px/23px 'Roboto', sans-serif;  word-break: break-all; margin-top: 0; margin-bottom:20px; ">
                     Your page <a href="" style="color: #808df4;">(@username)</a> has reached Instagram’s “comments” limit.
                    </p> -->
                    <p style="width: 100%; float: left;">
                      <p style="color:#555; font:14px/23px 'Roboto', sans-serif;  word-break: break-all; margin-top: 0; margin-bottom:20px;">
                          Please find the CODE below to change your password
                      </p>
                      
                    </p>
                      <p style="color:#555; font: 600 14px/23px 'Roboto', sans-serif;  word-break: break-all; margin-top: 0; margin-bottom:20px;"><%=token%>

                        </p>
                      <p style="color:#555; font:14px/23px 'Roboto', sans-serif;  word-break: break-all; margin-top: 0; margin-bottom:20px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever

                        </p>
                      <p style="color:#555; font:600 14px/23px 'Roboto', sans-serif;  word-break: break-all; margin-top: 0; margin-bottom:20px;">
                        <label>Team Grocery</label>
                      </p>
                    </td>
                    
                    <!--text-content ends here-->
                  </tr>
                  
                </tbody>
              </table>
            </td>
          </tr>
                  
          <tr>
            <td style="padding-top: 30px; padding-bottom: 20px;">
              <!--copyright-->
              <p style="margin-bottom: 10px; font: 14px/17px 'Roboto', sans-serif; margin-top: 0; text-align: center; color: #aaa;">Questions? Contact <a href="#" style="color: #698abc;">questions@groceryapp.com</a></p>
              <p style="font: 14px/17px 'Roboto', sans-serif; text-align: center; color: #aaa; margin-top: 0;">Copyright © 2020 Grocery</a></p>
              
            </td>
          </tr>
        </table>
      </div>
    </body>
  </html>